extends layout

block content
  h1= title
  .jumbotron
    form
      .form-group
        label(for='title') Title
        input#title.form-control(type='text', placeholder='title')
      .form-group
        label(for='description') Description
        input#description.form-control(type='text', placeholder='description')
      .form-group
        label(for='tags') Tags
        input#tags.form-control(type='text', placeholder='tags')
    
    button.btn.btn-default#addAlbum(type='submit') Add Album
    hr
    a.btn.btn-info(href='/') Back
    
    
    
block scripts
  script(src="/js/addAlbum.js")
