extends layout

block content
  .jumbotron#addImageForm
    h1 Add an Image
    //- form(action='/images', method='post', enctype='multipart/form-data')
    form(action='/images/'+album, method='post', enctype='multipart/form-data')
      br
      input(type='file', name='images', id='image', multiple=true, required=true)
      br
      button.btn.btn-primary.btn-lg Submit
    //- img(src=imageurl)



block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/main.js")