#images, #albums{
  font-size: 16px; 
}

.showAlbum, .showImage, .description, .date, .filename{
  overflow: auto; 
}

.imageDetail {
  max-width: 600px; 
  max-height: 600px; 
}

#addImageForm {
  background-color: green;
  color: black;
}

.sort {
  cursor: pointer;
}

.sort:hover {
  font-size: 18px; 
  color: black;
  text-shadow: 
    1px 0px 5px yellow, 0px 1px 5px yellow, 
    2px 1px 5px yellow, 1px 2px 5px yellow,    
    -1px -0px 5px yellow, -0px -1px 5px yellow, 
    -2px -1px 5px yellow, -1px -2px 5px yellow
}

.thumb {
  max-width: 300px; 
  max-height: 300px; 
}

.glow {
  color: black;
  text-shadow: 
    1px 0px 5px yellow, 0px 1px 5px yellow, 
    2px 1px 5px yellow, 1px 2px 5px yellow,    
    -1px -0px 5px yellow, -0px -1px 5px yellow, 
    -2px -1px 5px yellow, -1px -2px 5px yellow
}